<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  While this is a demonstration, users can actually sign up and log in! Feel free to make your own account or log in as the default user: example@fakemail.org, pass: password. Check out the user profiles which use Gravatar!
</p>
