<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This is just a demonstration, but users should be able to sign up and log in! Unless email verification is not enabled... If you are unable to create a user, try using the example user instead:

  user: example@fakemail.org
  pass: password

 Once you are logged in, you should be able to post short messages, follow other users, and view your past messages as well as those you follow! (Trying to upload images may break things...)


</p>
